{% load static %}

<nav class="navbar-container">
    <!-- mainpage 링크 연결 -->
    <a class="navbar-link" href="{% url 'mainpage' %}">DGU_likelion_14th</a>
    <!-- secondpage 링크 연결 -->
    <a class="navbar-link" href="{% url 'secondpage' %}">Second Page</a>

    <div class="nav-item {% if request.resolver_match.url_name == 'blogpage' %}active{% endif %}">
        <a href="{% url 'main:blogpage' %}">
            <div class="nav-icon">
                <img src="{% static 'images/icon-book.png' %}" alt="게시판 아이콘" class="nav-icon-img">
            </div>
            <span class="nav-label">게시판</span>
        </a>
    </div>
    <div class="nav-right">
        <a class="navbar-link" href="{% url 'main:new_blog' %}">게시글 작성</a>
    </div>
</nav>